html,
body,
#app {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

#app {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("./assets/grid.gif");
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}
